:root {
    /* Colors - primary */
    --strongCyan: hsl(171, 66%, 44%);
    --lightBlue: hsl(233, 100%, 69%);

    /* Colors - neutral */
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);

    /* Colors - footer */
    --veryLightGray: #f5f6f8;

    /* Colors - hover states */
    --lighterStrongCyan: #5dccbb;
    --lighterLightBlue: #8896ff;
    --lightGreen: #439b85;
}

* {
    /* Only one font-family was used in the design */
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    margin: 0;
}

/* HELPER CLASSES */
.wrapper {
    padding: 0 25px 0;
}


/* GLOBAL STYLES */
p {
    margin: 0 auto;
    padding: 0;
    max-width: 625px;
    font-size: 16px;
    color: var(--grayishBlue);
    line-height: 1.7;
}

h1, h2, h3 {
    color: var(--darkGrayishBlue);
}

h1 {
    margin: 60px 0 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 18px;
}

h3 {
    font-size: 24px;
    margin: 35px 0 12px;
}


/* HEADER STYLES */
header {
    text-align: center;
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

header img {
    margin-top: 125px;
}

/* Buttons are stacked on mobile but lined up on desktop (and wide tablets) */
.download-buttons {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.download-buttons a {
    flex-basis: 150px;
    display: block;
    height: 53px;
    margin-bottom: 25px;
    padding: 0 80px;

    color: white;
    text-decoration: none;
    line-height: 53px;
    font-weight: 600;

    border-radius: 200px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 70%);

    transition: background 200ms;
}

a.ios-download {
    background-color: var(--strongCyan);
}

    a.ios-download:hover {
        background-color: var(--lighterStrongCyan);
    }

a.mac-download {
    background-color: var(--lightBlue);
}

    a.mac-download:hover {
        background-color: var(--lighterLightBlue);
    }


/* FEATURES SECTIONS STYLES */
.features {
    text-align: center;
}

.features-content {
    margin-top: 65px;
}

.features img {
    width: 100%;
}

.features-item {
    margin: 55px auto 0;
    max-width: 500px;
}

/* Features 1 */
.features-1 {
    margin-top: 165px;
    padding: 0 25px 0;
}

.features-1 img {
    margin-top: 0;
    max-width: 752px;
}

/* Features 2 */
.features-2 {
    margin-top: 190px;
}

.features-2 img {
    margin-top: 65px;
    max-width: 905px;
}

/* Features 3 */
.features-3 {
    margin-top: 115px;
}

.features-3 .features-block {
    margin-top: 90px;
}

.features-block img {
    width: auto;
    margin-top: 0;
}


/* COMPANIES SECTION STYLES */
section.companies {
    margin-top: 125px;
}

/* The list is stacked on mobile but lined up on desktop (and wide tablets) */
.companies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.companies-list div {
    flex-basis: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

    .companies-list div[title="Google"] {
        background-image: url('images/logo-google.png');
    }

    .companies-list div[title="IBM"] {
        background-image: url('images/logo-ibm.png');
    }

    .companies-list div[title="Microsoft"] {
        background-image: url('images/logo-microsoft.png');
    }

    .companies-list div[title="Hewlett Packard"] {
        background-image: url('images/logo-hp.png');
    }

    .companies-list div[title="Vector Graphics"] {
        background-image: url('images/logo-vector-graphics.png');
    }


/* DOWNLOAD SECTION STYLES */
.download-section {
    margin-top: 140px;
    text-align: center;
}


/* FOOTER STYLES */
footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: var(--veryLightGray);
    color: var(--darkGrayishBlue);
    text-align: center;
}

/* This margin should be applied only for first gen children */
footer > div {
    margin: 18px 0;
}

.logo-clipboard {
    background: url('images/logo.svg') no-repeat center;
    background-size: contain;
    height: 55px;
}

/* Navigation styles */
footer nav {
    display: flex;
    flex-direction: column;
}

footer nav div {
    padding: 16px 0;
}

footer nav div a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

    footer nav div a:hover {
        color: var(--lightGreen);
    }

/* Social media styles */
footer .social {
    display: flex; /* icons should be lined up */
    margin-bottom: 0;
    padding: 15px 0;
    justify-content: center;
}

footer .social .icon {
    height: 25px;
    flex: 0 0 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

footer .social .icon a {
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* When icons are hovered, backgrounds change to green icons. */
.icon-facebook {
    background: url('images/icon-facebook.svg');
}

    .icon-facebook:hover {
        background: url('images/logo-facebook.svg');
    }   

.icon-twitter {
    background: url('images/icon-twitter.svg');
}

    .icon-twitter:hover {
        background: url('images/logo-twitter.svg');
    }

.icon-instagram {
    background: url('images/icon-instagram.svg');
}

    .icon-instagram:hover {
        background: url('images/logo-instagram.svg');
    }


/* MEDIA QUERIES */
@media screen and (min-width: 460px) {

    /* Changing header background because it gets too small */
    header {
        background-image: url('images/bg-header-desktop.png');
    }
}

@media screen and (min-width: 685px) {

    /* Content becomes too wide */
    .wrapper {
        padding: 0 50px 0;
    }

    /* Preventing lining up of the buttons */
    .download-buttons a {
        flex-basis: 180px;
    }
}

@media screen and (min-width: 780px) {

    /* Lining up buttons. Not using 'justify-content: space-around' because I need them to be centered for desktop widths also */
    .download-buttons a {
        flex-basis: 160px;
        margin: 0 10px;
    }

    /* Lining up navigation section of the footer */
    footer nav {
        flex-wrap: wrap;
        height: 110px;
    }
}

@media screen and (min-width: 950px) {

    /* Creating a flexbox to line up features on tablets */
    .features-block {
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
    }

    .features-item {
        flex-basis: 30%;
        margin: 0;
        box-sizing: border-box;
        max-width: 265px;
    }


    /* Lining up companies' icons */
    .companies-list {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .companies-list div {
        background-size: 70%;
    }

    
    /* Lining up everything in footer */
    footer {
        flex-wrap: wrap;
        height: 150px;
        padding-top: 40px;
        text-align: left;
    }

    footer > div {
        margin: 0;
    }

    footer nav div {
        padding: 0 0 15px;
    }
}


/* MAIN MEDIA QUERY FOR DESKTOP STYLES */
@media screen and (min-width: 1056px) {

    /* GLOBAL STYLES */
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        max-width: 705px;
        font-size: 18px;
    }


    /* HEADER STYLES */
    header p {
        font-size: 20px;
    }


    /* Download buttons */
    .download-buttons a {
        padding: 0 35px;
        font-size: 18px;
    }


    /* FEATURES SECTIONS STYLES */
    .features-item {
        max-width: 100%;
    }

    .features-item p {
        font-size: 16px;
    }

    .features-content {
        margin-top: 80px;
    }

    /* Features 1 */
    .features-1 {
        margin-top: 155px;
        padding: 0;
    }

    .features-1 .features-content {
        display: flex;
        height: 575px;
        justify-content: center;
    }

    .features-1 .features-content div {
        flex: 1 0 0;
    }

    /* Hiding image tag so I can use the div to put background */
    .features-1 img {
        visibility: hidden;
    }

    /* Now background can be aligned to right as in the design */
    .features-1 .features-image {
        background-image: url('images/image-computer.png');
        background-repeat: no-repeat;
        background-position: right;
    }

    .features-1 .features-block {
        display: block;
        text-align: left;
    }

    .features-1 .features-item {
        padding-left: 100px;
    }

    /* This code somehow adds padding to all paragraphs in the html. Still did not figure out why. */
    /* .features-1 .features-content .features-item h3, p {
        padding-left: 100px;
    } */

    .features-1 .features-item p {
        max-width: 350px;
        margin: 0;
    }

    /* Features 2 section */
    .features-2 {
        margin-top: 150px;
    }

    /* Features 3 section */
    .features-3 {
        margin-top: 85px;
    }

    .features-3 .features-block {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }


    /* COMPANIES SECTION STYLES */
    .companies-list div {
        background-size: unset;
    }


    /* DOWNLOAD SECTION STYLES */
    .download-section h3 {
        font-size: 36px;
    }
}

@media screen and (min-width: 1300px) {

    .features-2 img {
        margin-top: 100px;
    }
}